doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tastefull-Page not Found
  // Css navbar dosyaları
  link(rel='stylesheet' href='/css/index/navbar/navbar.css')
  // font awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  // Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap' rel='stylesheet')
  //title icon
  
  link(rel='icon' href='/titleicon.png' type='image/icon type')

  // Logo Google Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap' rel='stylesheet')
  style.
    a:link,a:visited{
    color: #000000;
    }
nav
  input#check(type='checkbox')
  label.checkbtn(for='check')
    i.fas.fa-bars
  label.logo 
    a(href="/") TASTEFULL
  ul
    li
      a.active(href='#') Recipes
    li
      a.active(href='#') Quick and Easy
    li
      a.active(href='#') Snack
    li
      a.active(href='#') Drink
    li
      a.active(href='#') Dessert
    li
      a.active(href='#') Healty
.none
h1 Page not found
