doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tastefull Lunch
  // font awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  // Navbar css dosyalar覺
  link(rel='stylesheet' href='/css/index/navbar/navbar.css')
  // Container2 css dosyalar覺
  link(rel='stylesheet' href='/css/index/main-container2/container2.css')
  // Header css dosyalar覺
  link(rel='stylesheet' href='/css/Recipespages/header.css')
  // Main css dosyalar覺
  link(rel='stylesheet' href='/css/Recipespages/main.css')
  // Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap' rel='stylesheet')
  //title icon
  
  link(rel='icon' href='/titleicon.png' type='image/icon type')
  // Logo Google Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap' rel='stylesheet')
  style.
    a:link,a:visited{
    color: #000000;
    }
nav
  input#check(type='checkbox')
  label.checkbtn(for='check')
    i.fas.fa-bars
  label.logo 
    a(href="/") TASTEFULL
  ul
    li
      a.active(href='/categories') Recipes
    li
      a.active(href='/categories/quickandeasy') Quick and Easy
    li
      a.active(href='/categories/snack') Snack
    li
      a.active(href='/categories/drink') Drink
    li
      a.active(href='/categories/dessert') Dessert
    li
      a.active(href='/categories/healty') Healty
.none
header
  .advertisement-970-250
    img(src='/970x250.jpg' alt='')
  .advertisement-728-90
    img(src='/970x250.jpg' alt='')
  .advertisement-300-100
    img(src='/970x250.jpg' alt='')
  .header-title
    h1
      | Drink
  .header-menu
    a(href='/categories/drink/coctail' style='display: flex; align-items: center; justify-content: center;') Coctail
    a(href='/categories/drink/coffeeandtea' style='display: flex; align-items: center; justify-content: center;') Coffee and Tea
    a(href='/categories/drink/smoothie' style='display: flex; align-items: center; justify-content: center;') Smoothie
    a(href='/categories/drink/alldrink' style='display: flex; align-items: center; justify-content: center;') All Drinks
main
  a(href='/categories/drink/coctail')
    .title-ct
      h3
        | Coctail
      i.fas.fa-arrow-right
  .container-ct.container2
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu.menu-ct
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
  .card-ct768
    a(href='/categories/drink/coctail')
      img(src='/lily-banse--YHSwy6uqvk-unsplash (1).jpg' alt='')
  p.card-ct-p Lorem, ipsum dolor.
  .advertisement-2
    img(src='/indir.jpg' alt='')
  .advertisement-728px
    img(src='/indir.jpg' alt='')
  .advertisement-mobil
    img(src='/indir.jpg' alt='')
  a(href='/categories/drink/coffeeandtea')
    .title-ct
      h3
        |Coffee And Tea
      i.fas.fa-arrow-right
  .container-ct.container2
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu.menu-ct
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
  .card-ct768
    a(href='/categories/drink/coffeeandtea')
      img(src='/lily-banse--YHSwy6uqvk-unsplash (1).jpg' alt='')
    p.card-ct-p Lorem, ipsum dolor.
  .advertisement-2
    img(src='/indir.jpg' alt='')
  .advertisement-728px
    img(src='/indir.jpg' alt='')
  .advertisement-mobil
    img(src='/indir.jpg' alt='')
  a(href='/categories/drink/smoothie')
    .title-ct
      h3
        | Smoothie
      i.fas.fa-arrow-right
  .container-ct.container2
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu.menu-ct
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
  .card-ct768
    a(href='/categories/drink/smoothie')
      img(src='/lily-banse--YHSwy6uqvk-unsplash (1).jpg' alt='')
    p.card-ct-p Lorem, ipsum dolor.
  .advertisement-2
    img(src='/indir.jpg' alt='')
  .advertisement-728px
    img(src='/indir.jpg' alt='')
  .advertisement-mobil
    img(src='/indir.jpg' alt='')
  a(href='/categories/drink/alldrink')
    .title-ct
      h3
        | All Drinks
      i.fas.fa-arrow-right
  .container-ct.container2
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
    a(href='#')
      .menu.menu-ct
        .card
          img(src='/soup.jpg')
          p.menu-p Lorem, ipsum dolor.
  .card-ct768
    a(href='/categories/drink/alldrink')
      img(src='/lily-banse--YHSwy6uqvk-unsplash (1).jpg' alt='')
    p.card-ct-p Lorem, ipsum dolor.
  .advertisement-2
    img(src='/indir.jpg' alt='')
  .advertisement-728px
    img(src='/indir.jpg' alt='')
  .advertisement-mobil
    img(src='/indir.jpg' alt='')
